/* Blowfish scheme */
:root {
  --color-neutral: 255, 255, 255;
  /* From forest(origin), Green */
  --color-neutral-50: 255, 255, 255;
  --color-neutral-100: 232, 238, 237;
  --color-neutral-200: 188, 206, 203;
  --color-neutral-300: 143, 174, 170;
  --color-neutral-400: 101, 140, 134;
  --color-neutral-500: 84, 116, 111;
  --color-neutral-600: 67, 93, 89;
  --color-neutral-700: 50, 69, 66;
  --color-neutral-800: 33, 45, 43;
  --color-neutral-900: 16, 21, 21;
  /* From terminal-primary, not bad, show on tags mainly. */
  /* --color-primary-50: 255, 255, 255;
  --color-primary-100: 236, 255, 227;
  --color-primary-200: 184, 255, 150;
  --color-primary-300: 132, 255, 74;
  --color-primary-400: 80, 252, 0;
  --color-primary-500: 56, 176, 0;
  --color-primary-600: 48, 151, 0;
  --color-primary-700: 40, 125, 0;
  --color-primary-800: 40, 125, 0;
  --color-primary-900: 7, 23, 0; */
/* 青色，but too light*/
  /*--color-primary-50: 182, 255, 241;
  --color-primary-100: 31, 253, 226;
  --color-primary-200: 26, 222, 198;
  --color-primary-300: 21, 192, 171;
  --color-primary-400: 16, 162, 145;
  --color-primary-500: 11, 134, 119;
  --color-primary-600: 7, 106, 94;
  --color-primary-700: 4, 80, 71;
  --color-primary-800: 2, 55, 48;
  --color-primary-900: 1, 32, 27;
  --color-primary-950: 0, 20, 17;*/
    /* Gray  well it's still too light...... i dont like this*/
  /*--color-primary-50: 248, 250, 252;
  --color-primary-100: 241, 245, 249;
  --color-primary-200: 226, 232, 240;
  --color-primary-300: 203, 213, 225;
  --color-primary-400: 148, 163, 184;
  --color-primary-500: 100, 116, 139;
  --color-primary-600: 71, 85, 105;
  --color-primary-700: 51, 65, 85;
  --color-primary-800: 30, 41, 59;
  --color-primary-900: 15, 23, 42;*/

  
  /* Cyan */
  --color-secondary-50: 236, 254, 255;
  --color-secondary-100: 207, 250, 254;
  --color-secondary-200: 165, 243, 252;
  --color-secondary-300: 103, 232, 249;
  --color-secondary-400: 34, 211, 238;
  --color-secondary-500: 6, 182, 212;
  --color-secondary-600: 8, 145, 178;
  --color-secondary-700: 14, 116, 144;
  --color-secondary-800: 21, 94, 117;
  --color-secondary-900: 22, 78, 99;
}
