:root {
  /* --color-neutral: 255, 255, 255; */
/*Cyan?*/
  --color-neutral-50: 182, 255, 241;
  --color-neutral-100: 31, 253, 226;
  --color-neutral-200: 26, 222, 198;
  --color-neutral-300: 21, 192, 171;
  --color-neutral-400: 16, 162, 145;
  --color-neutral-500: 11, 134, 119;
  --color-neutral-600: 7, 106, 94;
  --color-neutral-700: 4, 80, 71;
  --color-neutral-800: 2, 55, 48;
  --color-neutral-900: 1, 32, 27;
  --color-neutral-950: 0, 20, 17;
/*Cyan?*/
  --color-primary-50: 220, 239, 236;
  --color-primary-100: 194, 217, 214;
  --color-primary-200: 158, 178, 175;
  --color-primary-300: 122, 137, 135;
  --color-primary-400: 88, 99, 98;
  --color-primary-500: 57, 65, 64;
  --color-primary-600: 45, 52, 51;
  --color-primary-700: 35, 41, 40;
  --color-primary-800: 26, 30, 30;
  --color-primary-900: 14, 18, 17;
  --color-primary-950: 9, 11, 11;

  --color-secondary-50: 254, 244, 244;
  --color-secondary-100: 254, 237, 237;
  --color-secondary-200: 252, 215, 215;
  --color-secondary-300: 251, 196, 196;
  --color-secondary-400: 250, 173, 173;
  --color-secondary-500: 249, 153, 153;
  --color-secondary-600: 247, 79, 79;
  --color-secondary-700: 204, 29, 29;
  --color-secondary-800: 138, 16, 16;
  --color-secondary-900: 82, 6, 6;
  --color-secondary-950: 52, 2, 2;
}